<h1>Synthesise speech</h1>
<p>Using the following form, paste the text you wish to have synthesised.</p>
<p>Please, synthesise responsibly. Some services incur a cost and others are rate limited.</p>

<form class="o-forms synthesis-form">

	<div class="inputsContainer">
		<div>
			<label for="o-forms-standard" class="o-forms__label">FT.com Article UUID</label>
			<input type="text" id="o-forms-standard" placeholder="9d376431-4530-48ab-8a0d-bf500f0a0223" class="o-forms__text"></input>
			<h4>OR</h4>
			<label for="o-forms__textarea" class="o-forms__label">Text to synthesise</label>
			<textarea placeholder="Lorem ipsum dolor sit amet..." id="o-forms__textarea" class="o-forms__textarea"></textarea>
		</div>

		<div class="availableServices">
			<fieldset class="o-forms">
				<legend class="o-forms__label">Services to use</legend>

				{{#each availableServices}}
					<input type="checkbox" name="{{this.shortname}}" value="1" class="o-forms__checkbox" id="{{this.shortname}}"></input>
					<label for="{{this.shortname}}" class="o-forms__label">{{this.name}} ({{this.limit}} character limit)</label>
					<div class="voice-selector">
						<small class="o-forms__additional-info">Select a voice for {{this.name}}</small>
						<select id="o-forms__select-standard" class="o-forms__select" data-service="{{this.shortname}}">
							{{#each voices}}
								<option value="{{this}}">{{this}}</option>
							{{/each}}
						</select>
					</div>
				{{/each}}

			</fieldset>
		</div>
	
	</div>

	<button class="o-buttons o-buttons--standout o-buttons--big">Synthesise</button>

</form>

<div class="results" data-visible="false">
	<h2>Synthesis results</h2>

    <button class="o-buttons o-buttons--standout o-buttons--big playAll">Play All</button>
    <button class="o-buttons o-buttons--standout o-buttons--big pauseAll">Pause All</button>
    <button class="o-buttons o-buttons--standout o-buttons--big stopAll">Stop All</button>
	<ul class="resultList">

		{{#each availableServices}}
			<li data-service="{{this.shortname}}" data-loading="true">
				<h4>{{this.name}}</h4>
				<audio src="" controls></audio>
				<div class="o-loading o-loading--dark o-loading--small"></div>
				<p class='errorText'>Sorry, an error occurred when we tried to synthesise speech with this service.</p>
			</li>
		{{/each}}

		<li class="spokenlayer" data-loading="true" data-visible="false">
			<h4>Spoken Layer (human read)</h4>
			<audio src="" controls></audio>
			<div class="o-loading o-loading--dark o-loading--small"></div>
			<p class='errorText'>Sorry, an error occurred when we tried to synthesise speech with this service.</p>
		</li>

	</ul>

</div>

<script>

	function prevent(e){e.preventDefault();e.stopImmediatePropagation();}

	function handleMediaTriggers(trigger){

		var audioElements = Array.from(resultsHolder.querySelectorAll('audio'));
		switch(trigger){
			case 'play':
				audioElements.forEach(element => {
					element.play();
				});
				break;
			case 'pause':
				audioElements.forEach(element => {
					element.pause();
				});
				break;
			case 'stop':
				audioElements.forEach(element => {
					element.currentTime = 0;
					element.pause();
				});
				break;
		
		}

	}

	var synthesisForm = document.querySelector('form.synthesis-form');
	var resultsHolder = document.querySelector('.results');
	var resultsList = resultsHolder.querySelector('.resultList');
	var spokenLayerResult = resultsHolder.querySelector('.spokenlayer');

	var playAllBtn = resultsHolder.querySelector('.playAll');
	var pauseAllBtn = resultsHolder.querySelector('.pauseAll');
	var stopAllBtn = resultsHolder.querySelector('.stopAll');

	playAllBtn.addEventListener('click', function(){ handleMediaTriggers('play') }, false);

	pauseAllBtn.addEventListener('click', function(){ handleMediaTriggers('pause') }, false);

	stopAllBtn.addEventListener('click', function(){ handleMediaTriggers('stop') }, false);

	synthesisForm.addEventListener('submit', function(e){
		prevent(e);

		resultsHolder.dataset.visible = 'true';
		
		Array.from(resultsList.querySelectorAll('li')).forEach(li => {
			li.dataset.loading = "true";
		});

		var uuid = this[0].value;
		var text = this[1].value;
		var services = Array.from(this[2].querySelectorAll('input[type="checkbox"]')).map(function(box){
			return box.checked ? box.name : false;
		}).filter(function(entry){
			return entry !== false;
		});

		Array.from(resultsList.querySelectorAll('li')).forEach(li => {
			var isChecked = services.some(service => {return service === li.dataset.service; });
			if(!isChecked){
				li.dataset.visible = "false";
			} else {
				li.dataset.visible = "true";
			}
		});

		Array.from(document.querySelectorAll('audio')).forEach(audioElement => {
			audioElement.src = "";
		})

		// Check if there is a human version, if there is a UUID

		if(uuid !== '' && uuid !== undefined){
			fetch('https://ftlabs-audio-available.herokuapp.com/check/' + uuid)
				.then(res => {
					if(res.status === 200){
						return res;
					} else {
						throw res;
					}
				})
				.then(res => res.json())
				.then(data => {
					if(data.haveFile === true){
						var audioElement = spokenLayerResult.querySelector('audio');
						audioElement.src = data.url;
						spokenLayerResult.dataset.visible = "true";
						spokenLayerResult.dataset.loading = "false";
					}
				})
				.catch(err => {
					console.log(err);
				})
			;
		}


		// Get all of the results from the selected services
		services.forEach(function(service){

			var li = resultsList.querySelector('li[data-service="' + service + '"]');
			li.dataset.error = "false";
			
			fetch('/service/' + service + '?token={{token}}', {
					method : 'POST',
					headers : {
						'Content-Type' : 'application/json'
					},
					body : JSON.stringify({
						content : text,
						voice : document.querySelector('.voice-selector select[data-service="' + service + '"]').value || "",
						uuid : uuid
					}),
					credentials: 'include'
				})
				.then(function(result){

					if(result.status !== 200){
						throw result;
					}

					return result.blob();
				})
				.then(result => {
					console.log(result);
					
					var audio = li.querySelector('audio');
					audio.src = window.URL.createObjectURL(result);

					li.dataset.loading = "false";

				})
				.catch(function(err){
					console.log('Error', err);
					console.log(service);

					li.dataset.error = "true";
					li.dataset.loading = "false";

				})
			;

		})

	}, false);

</script>